<!--
@Author: Nicolas Fazio <webmaster-fazio>
@Date:   27-12-2016
@Email:  contact@nicolasfazio.ch
@Last modified by:   webmaster-fazio
@Last modified time: 27-12-2016
-->

<!--
  Generated template for the HeaderComponent component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-navbar color="primary">
  <ion-title>{{ title }}</ion-title>
  <ion-buttons end>
    <button ion-button icon-only (click)="onLogOut()">
      <ion-icon name="log-out"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
