// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   14-12-2016
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 14-12-2016

page-home {
  h2 {
      color: color($colors, dark);
      font-size: 1.7rem;
      margin:10px 0 0;
      small {
        color: lighten(color($colors, dark), 20%);
        font-weight: normal;
      }
    }

    ion-list {
      >ion-item-sliding {
        border-bottom: 1px solid color($colors, light);

        .item,
        &:last-child .item {
          border:none;
          margin:0;
        }

        .completed {
            text-decoration: line-through;
            font-style: italic;
        }
      }
    }

    ion-textarea{
      .text-input {
        font-size: 1.6rem;
        color: color($colors, dark);
        margin:0;
        padding:8px;
        border:1px solid color($colors, light);
        border-radius:3px;
      }
    }
}
